.button
    padding 0 0 5px 0
    text-align center
    cursor pointer
    text-decoration none
    border-bottom 1px solid $color2
    color $color1
    transition border-color 0.5s ease
    &:hover
    &.active
        border-bottom 1px solid $color1
