.main
    width 80%
    max-width 841px
    margin 20px auto 20px auto
    position relative
    box-sizing border-box
    padding 10px
    @media print
        margin 0
        padding 0
    .pageBreak
        page-break-before always
        margin 10px 0 10px 0
    h1,h2,h3,h4
        font-weight bolder
        font-weight 700
        margin 10px 0 10px 0
    h1
        font-weight bolder
        font-weight 700
        font-size 1.5em
        text-decoration underline
    h2
        font-weight bolder
        font-weight 700
        font-size 1.2em
        width 85%
        border-top 1px solid $gray3
        padding 10px 0 0 0
        @media print
            padding 8px 0 0 0
    h2:first-of-type
        border 0px
    h3
        font-weight normal
        font-weight 500
        font-size 1.0em
    h4
        font-size 1.0em
        font-weight normal
        font-weight 500
    a
        font-weight lighter
        font-weight 300
        color $color1
    .logo
        width 10%
        height auto
        top 10px
        right 10px
        position absolute
        display block
        @media screen and (max-width: 600px)
            position relative
            margin auto
            width 80%
    ul
        width 80%
        margin 10px auto 0px auto
        font-size 0.8em
        font-weight lighter
        font-weight 300
    li
        max-width 600px
        list-style square
    p
        color $gray4
        font-size 0.8em
        font-weight lighter
        font-weight 300
        font-style italic
        margin 10px 0 10px 0
        display block
        width 80%
        max-width 600px
    .twoColumn
        text-align center
        &.left
            text-align left
        div
        &>ul
            width 39.5%
            text-align left
            display inline-block
            vertical-align top
            @media screen and (max-width: 600px)
                width 80%
    div
        &.margin
            margin 20px 0px 0px 20px
            clear both
            width 10px
